<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="venta-agregar-page.component.css">
    <title>Document</title>
</head>
<body>
    <section class="contact_wrapper">
      
        <div class="contact_msg">
          <h3 class="title">
            Agregar Venta
          </h3>
      
          <div class="form_fild">
            <div class="input_group w_50">
              <input type="text" class="input" required />
              <label class="">Nombre del Producto</label>
            </div>

            <div class="input_group w_50">
                <input type="text" class="input" required />
                <label class="">Nombre del Cliente</label>
              </div>
      
            <div class="input_group w_50">
              <input type="text" class="input" required />
              <label class="">Costo Unitorio</label>
            </div>
      
            <div class="input_group w_50">
              <input type="text" class="input" required />
              <label class="">Cantidad</label>
            </div>

            <div class="input_group w_50">
                <input type="text" class="input" required />
                <label class="">Costo Total</label>
              </div>

            <div class="input_group w_100">
                <textarea class="input input_textarea " rows="6" required></textarea>
                <label class=" textarea">Descripcion del Venta</label>
              </div>
      
      
            <div class="input_group">
                <a class="btn">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  Agregar Producto
                </a>
            </div>
              
      
          </div>
      
        </div>
      
      </section> 
</body>
</html>
