<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

  <!-- Sections: men/women -->
  <div class="section">
    <h2 id="title">MEN</h2>
    <div class="products">
      <div onClick="seeDetail()" class="each-product">
        <img class="products-img" src="https://images.vans.com/is/image/Vans/EYEBWW-HERO?$583x583$" />
        <p class="product-name">Checkered Vans </p>
        <p class="product-price">Price: $<span class="price"> 50</span></p>
        <button id="1" onClick="increaseCart(1)">Add to cart</button>
      </div>
      <div class="each-product">
        <img id="special-image" class="products-img" src="https://cdn.luxe.digital/media/2020/02/17134426/balenciaga-black-speed-men-sneakers-luxe-digital.jpg" />
        <p class="product-name">Balenciaga </p>
        <p class="product-price">Price: $<span class="price"> 200</span></p>
        <button id="1" onClick="increaseCart(1)">Add to cart</button>
      </div>
      <div class="each-product">
        <img class="products-img" src="https://c.static-nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/gsuin11ptg5qgktmzoat/air-force-1-07-mens-shoe-JkTGzADv.jpg" />
        <p class="product-name">Nike Airforce 1</p>
        <p class="product-price">Price: $<span class="price">90</span></p>
        <button id="2" onClick="increaseCart(2)">Add to cart</button>
      </div>

      <div class="each-product">
        <img class="products-img" src="https://images.vans.com/is/image/Vans/EWZBLK-HERO" />
        <p class="product-name">Mix n Match Vans</p>
        <p class="product-price">Price: $<span class="price"> 65</span></p>
        <button id="1" onClick="increaseCart(1)">Add to cart</button>
      </div>
      <div class="each-product">
        <img class="products-img" src="https://catalog.21buttons.com/497cacd1493248867458c08c7fcd8b24cafd5047.smedium.jpg" />
        <p class="product-name"> Pig suede sk8-hi</p>
        <p class="product-price">Price: $<span class="price"> 35</span></p>
        <button id="1" onClick="increaseCart(1)">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="blue">
    <h2 id="title">WOMEN</h2>
    <div class="products">
      <div class="each-product">
        <img id="special-image" class="products-img" src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/eba369b1-7c85-4e4f-b433-89dde14bb6d7/air-max-2x-shoe-sSqx0d.jpg" />
        <p class="product-name">Nike Air Max 2x</p>
        <p class="product-price">Price: $<span class="price">70</span></p>
        <button id="3" onClick="increaseCart(3)">Add to cart</button>
      </div>
      <div class="each-product">
        <img class="products-img" src="https://i.etsystatic.com/20464964/r/il/409435/2457776166/il_1588xN.2457776166_9se1.jpg" />
        <p class="product-name">Nike Airforce 1 (Custom)</p>
        <p class="product-price">Price: $<span class="price">100</span></p>
        <button id="3" onClick="increaseCart(3)">Add to cart</button>
      </div>

      <div class="each-product">
        <img class="products-img" src="https://www.rankandstyle.com/media/products/g/gucci-new-ace-sneaker-designer-sneakers-for-wo.jpg" />
        <p class="product-name">Gucci New Ace Sneaker</p>
        <p class="product-price">Price: $<span class="price">100</span></p>
        <button id="3" onClick="increaseCart(3)">Add to cart</button>
      </div>
      <div class="each-product">
        <img class="products-img" src="https://www.shoestation.com/media/catalog/product/cache/f1fd2bc4069cc3a1c7e45a18cd44f2eb/c/o/converse_all_star_oxf_m9696_red_womens_sizes_.jpg" />
        <p class="product-name">Converse</p>
        <p class="product-price">Price: $<span class="price">60</span></p>
        <button id="3" onClick="increaseCart(3)">Add to cart</button>
      </div>
      <div class="each-product">
        <img class="products-img" src="https://i.pinimg.com/474x/f2/29/ac/f229ac923aa9cfa02892405b7cc462d9.jpg" />
        <p class="product-name">Loui Vutton Converse</p>
        <p class="product-price">Price: $<span class="price">60</span></p>
        <button id="3" onClick="increaseCart(3)">Add to cart</button>
      </div>

    </div>
  </div>

  <script>
    function increaseCart(id) {
      const current = document.getElementsByClassName("cart-count")[0];
      console.log(current.innerHTML);
      current.innerHTML = parseInt(current.innerHTML) + 1;
      // how do we increase total price
      // 1. get the current total price
      var currentTotalPrice = document.getElementsByClassName("total-price")[0];
      //2. get the price of the product you are clicking
      var clickedButton = document.getElementById(id);
      console.log(clickedButton);
      const parent = clickedButton.parentElement;
    
      const clickedPrice = parseInt(parent.querySelector(".price").innerHTML);
      // 3. add the price into the current total price
      currentTotalPrice.innerHTML =
        parseInt(currentTotalPrice.innerHTML) + clickedPrice;
    }
    
    function handleChange() {
      console.log("noice");
      const searchEl = document.getElementById("search");
      const products = document.getElementsByClassName("product-name");
    
      if (searchEl.value.length > 0) {
        for (let i = 0; i < products.length; i++) {
          if (searchEl.value === products[i].innerHTML) {
            //display
            // console.log('matched', products[i].parentElement)
            products[i].parentElement.style.display = "block";
          } else {
            //not display
            // console.log('not matched', products[i].parentElement)
            products[i].parentElement.style.display = "none";
          }
        }
      }
    }
    function seeDetail() {
      document.getElementsByClassName("products")[0].style.display = "none";
      document.getElementsByClassName("test")[0].style.display = "block";
    }
    
  </script>
</body>
</html>